POSTGRES_DB=postgres_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=db
SECRET_KEY=asdasdasd&!@%#&%!@#)(()*DKJNEJ)

IMAGE_POSTGRES_DB=image_postgres_db
IMAGE_POSTGRES_USER=image_postgres_user
IMAGE_POSTGRES_PASSWORD=image_postgres_password
IMAGE_POSTGRES_HOST=localhost
IMAGE_POSTGRES_PORT=15432
GOOGLE_API_KEY=key
SEARCH_ENGINE_ID=engin
BASE_URL=http://localhost:8000
IMAGE_DIRECTORY_NAME=downloaded_images